# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/teamwork/FileContentIndex/521b87c4-68e5-4f34-9453-4240b6128add.vsidx
/.vs/teamwork/FileContentIndex/a6aa5e55-05fa-452d-a4ef-43819045a55a.vsidx
/.vs/teamwork/FileContentIndex/0d33cba2-0495-413d-917b-02f7eaf2e250.vsidx
/.vs/teamwork/FileContentIndex/f6bead4d-2507-4542-8339-bbca6c38b701.vsidx
/.vs/teamwork/FileContentIndex/71c57c9c-4442-4225-a3d3-bd32c1c22b55.vsidx
/.vs/teamwork/FileContentIndex/f1f0feaa-6a44-4716-9797-8643e43dc7ff.vsidx
